.sessao__imagem {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 400px;
}

.sessao__imagem--bemvindo {
  background-image: url("../../img/banner3.jpg");
  margin-right: 50px;
  float: left;
}

.sessao__imagem--sobre {
  background-image: url("../../img/banner4.jpg");
  margin-left: 50px;
  float: right;
}