.sessao__titulo {
  color: #006599;
  margin-bottom: 30px;
}

h1.sessao__titulo {
  margin-top: 70px;
  font-size: 2.5rem;
}

h2.sessao__titulo {
  font-size: 2.2rem;
}

h3.sessao__titulo {
  font-size: 1.8rem;
}

